Repository kbr-scylla/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @kbr-, @piodul, @jul-stas, @eliransin, @gleb-cloudius, @raphaelsc, @nyh, @cvybhu, @annastuchlik, @tzach, @havaker, @nuivall, @asias, @syuu1228, @denesb, @kostja

test: limit generated ldap port to tcp port range
  test.py
Owners: none

db: config: add replace_node_first_boot option
  db/config.cc
  db/config.hh
Owners: none

storage_service: replacement_info: add replace address
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

init: do not allow cfg.replace_node_first_boot of seed node
  init.cc
Owners: none

storage_service: join_token_ring: reuse replacement_info.address
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: pass replacement_info to booststrap
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: pass replace_address to run_replace_ops
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

db: config: describe replace_address* options as deprecated
  db/config.cc
Owners: none

dist/docker: support --replace-node-first-boot
  dist/docker/commandlineparser.py
  dist/docker/scyllasetup.py
Owners: none

storage_service: is_replacing: rely directly on config options
  service/storage_service.cc
Owners: @tgrabiec, @asias

test: test_topology: test replace using host_id
  test/pylib/scylla_cluster.py
  test/topology/test_topology.py
Owners: none

docs: document the new replace_node_first_boot option
  docs/operating-scylla/admin.rst
  docs/operating-scylla/procedures/cluster-management/rebuild-node.rst
  docs/operating-scylla/procedures/cluster-management/replace-dead-node.rst
Owners: none

storage_service: get rid of get_replace_address
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

test: pylib: ServerInfo: add host_id
  test/pylib/internal_types.py
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

config: disable parallelized aggregation by default
  conf/scylla.yaml
  db/config.cc
Owners: none

replicated_provider: Add missing rethrow in validate() exception case
  ent/encryption/replicated_key_provider.cc
Owners: none

group 0 majority loss removenode failure test
  service/storage_service.cc
  test/topology/test_removenode_fail.py
Owners: @tgrabiec, @asias

tracing: record service level in trace event recod
  tracing/trace_keyspace_helper.cc
  tracing/tracing.hh
Owners: none

test/pylib: scylla_cluster: return error details from test framework endpoints
  test/pylib/rest_client.py
  test/pylib/scylla_cluster.py
Owners: none

test/pylib: scylla_cluster: mark cluster as dirty if it fails to boot
  test/pylib/scylla_cluster.py
Owners: none

test: disable commitlog O_DSYNC, preallocation
  test/cql-pytest/run.py
  test/lib/cql_test_env.cc
  test/pylib/scylla_cluster.py
Owners: @nyh

test/pylib: pool: introduce `steal_and_get`
  test/pylib/pool.py
Owners: none

test/pylib: scylla_cluster: ensure there's space in the cluster pool when running a sequence of tests
  test/pylib/scylla_cluster.py
Owners: none

test/pylib: scylla_cluster: release cluster IPs when stopping ScyllaClusterManager
  test/pylib/scylla_cluster.py
Owners: none

WIP show cluster when failing
  test/pylib/scylla_cluster.py
Owners: none

WIP create cluster in duration
  test/pylib/scylla_cluster.py
Owners: none

test
  test/topology/test_many_schema_changes.py
Owners: none

test/pylib: scylla_cluster: use less expensive query to check for CQL availability
  test/pylib/scylla_cluster.py
Owners: none

test/pylib/scylla_cluster: better logging for timeout on server startup
  test/pylib/scylla_cluster.py
Owners: none

release: prepare for 2023.1.0-rc0
  SCYLLA-VERSION-GEN
Owners: none

test/pylib: pool: replace `steal` with `put(is_dirty=True)`
  test.py
  test/pylib/host_registry.py
  test/pylib/pool.py
  test/pylib/scylla_cluster.py
Owners: none

test/pylib: scylla_cluster: ensure there's space in the cluster pool when running a sequence of tests
  test/pylib/scylla_cluster.py
Owners: none

test/pylib: pool: introduce `replace_dirty`
  test/pylib/pool.py
Owners: none

storage_service: Enable Repair Based Node Operations (RBNO) by default for all node ops
  db/config.cc
Owners: none

repro
  test/topology/test_decommissions.py
Owners: none

storage_service: Check node has left in node_ops_cmd::decommission_done
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: Enable Repair Based Node Operations (RBNO) by default for all node ops
  db/config.cc
Owners: none

test: Increase max-networking-io-control-blocks
  test/cql-pytest/run.py
  test/pylib/scylla_cluster.py
Owners: @nyh

release: prepare for 2023.1.0-rc1
  SCYLLA-VERSION-GEN
Owners: none

test data loss
  test/topology/test_data_loss.py
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @cvybhu @nyh

# COUNTERS
counters* @jul-stas
tests/counter_test* @jul-stas

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh @havaker @nuivall

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @cvybhu @piodul
cql3/statements/*view* @nyh @cvybhu @piodul
test/boost/view_* @nyh @cvybhu @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
index/* @nyh @cvybhu @piodul
cql3/statements/*index* @nyh @cvybhu @piodul
test/boost/*index* @nyh @cvybhu @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @havaker @nuivall
test/alternator/* @nyh @havaker @nuivall

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @nyh @syuu1228
test/redis/* @nyh @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cql-pytest/* @nyh

# RAFT
raft/* @kbr- @gleb-cloudius @kostja
test/raft/* @kbr- @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius
