Repository kbr-scylla/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @kbr-, @piodul, @jul-stas, @eliransin, @gleb-cloudius, @raphaelsc, @nyh, @cvybhu, @annastuchlik, @tzach, @havaker, @nuivall, @asias, @syuu1228, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @cvybhu @nyh

# COUNTERS
counters* @jul-stas
tests/counter_test* @jul-stas

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh @havaker @nuivall

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @cvybhu @piodul
cql3/statements/*view* @nyh @cvybhu @piodul
test/boost/view_* @nyh @cvybhu @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
index/* @nyh @cvybhu @piodul
cql3/statements/*index* @nyh @cvybhu @piodul
test/boost/*index* @nyh @cvybhu @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @havaker @nuivall
test/alternator/* @nyh @havaker @nuivall

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @nyh @syuu1228
test/redis/* @nyh @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cql-pytest/* @nyh

# RAFT
raft/* @kbr- @gleb-cloudius @kostja
test/raft/* @kbr- @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

stuff
  test/topology/test_data_loss.py
Owners: none

ring delay, wait for gossip to settle
  test/pylib/scylla_cluster.py
Owners: none

test boot
  test/topology/test_boot.py
Owners: none

Revert "Revert "storage_service: Enable Repair Based Node Operations (RBNO) by default for all node ops""
  db/config.cc
Owners: none

don't reuse ips
  test.py
Owners: none

Revert "config: disable parallelized aggregation by default"
  conf/scylla.yaml
  db/config.cc
Owners: none

release: prepare for 2023.1.0-rc2
  SCYLLA-VERSION-GEN
Owners: none

Merge 'Make all headers self-sufficient' from Benny Halevy
  compaction/incremental_backlog_tracker.cc
  compaction/incremental_backlog_tracker.hh
  configure.py
  service/qos/qos_configuration_change_subscriber.hh
  test/ldap/ldap_common.hh
Owners: @raphaelsc, @nyh

release: prepare for 2023.1.0-rc3
  SCYLLA-VERSION-GEN
Owners: none

gossiper: do not drop seed node from the ping list
  gms/gossiper.cc
Owners: @tgrabiec, @asias

test: implement a test changing IPs of all servers in the cluster
  test/pylib/scylla_cluster.py
  test/topology/test_change_ip.py
Owners: none

debug
  db/system_distributed_keyspace.cc
  service/storage_proxy.cc
  test/pylib/scylla_cluster.py
  test/topology/suite.yaml
  test/topology/test_boot.py
Owners: @gleb-cloudius

release: prepare for 2023.1.0-rc4
  SCYLLA-VERSION-GEN
Owners: none

doc: add the upgrade guide from 2022.x to 2023.1
  docs/upgrade/upgrade-enterprise/index.rst
  docs/upgrade/upgrade-enterprise/upgrade-guide-from-2022.x-to-2023.1/index.rst
  docs/upgrade/upgrade-enterprise/upgrade-guide-from-2022.x-to-2023.1/metric-update-2022.x-to-2023.1.rst
  docs/upgrade/upgrade-enterprise/upgrade-guide-from-2022.x-to-2023.1/upgrade-guide-from-2022.x-to-2023.1-generic.rst
Owners: none

audit: do not round time
  audit/audit_cf_storage_helper.cc
Owners: none

sys_dist_ks: move mutation size threshold calculation outside `get_cdc_generation_mutations`
  db/system_distributed_keyspace.cc
Owners: none

sys_dist_ks: move find_schema outside `get_cdc_generation_mutations`
  db/system_distributed_keyspace.cc
Owners: none

service/raft: group0_state_machine: signal topology state machine in `load_snapshot`
  service/raft/group0_state_machine.cc
Owners: none

sys_dist_ks: make `get_cdc_generation_mutations` public
  cdc/generation.cc
  cdc/generation.hh
  db/system_distributed_keyspace.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas

cdc: generation: `get_cdc_generation_mutations`: take timestamp as parameter
  cdc/generation.cc
  cdc/generation.hh
  db/system_distributed_keyspace.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas

cdc: generation: make `topology_description_generator::get_sharding_info` a parameter
  cdc/generation.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas

service: raft: plumbing `cdc::generation_service&`
  main.cc
  service/raft/group0_state_machine.cc
  service/raft/group0_state_machine.hh
  service/raft/raft_group0.cc
  service/raft/raft_group0.hh
  service/storage_service.cc
  service/storage_service.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

service: topology_state_machine: better error checking for state name (de)serialization
  service/topology_state_machine.cc
Owners: none

db: system_keyspace: add storage for CDC generations managed by group 0
  cdc/generation.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: @kbr-, @elcallio, @piodul, @jul-stas

db: system_keyspace: small refactor of `load_topology_state`
  db/system_keyspace.cc
Owners: none

cdc: generation: extract pure parts of `make_new_generation` outside
  cdc/generation.cc
  cdc/generation.hh
Owners: @kbr-, @elcallio, @piodul, @jul-stas

raft topology: create new CDC generation data during node bootstrap
  db/system_keyspace.cc
  service/storage_service.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

init: Add life cycle notifications to configurables
  init.cc
  init.hh
  main.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

alternator/rest api tests: Remove name assumption and rely on actual scylla info
  test/alternator/test_system_tables.py
  test/rest_api/test_storage_service.py
Owners: @nyh, @havaker, @nuivall

replicated_provider: Initialize tables on system start
  ent/encryption/encryption.cc
  ent/encryption/encryption.hh
  ent/encryption/encryption_config.cc
  ent/encryption/replicated_key_provider.cc
  ent/encryption/replicated_key_provider.hh
Owners: none

raft topology: commit a new CDC generation on node bootstrap
  db/system_keyspace.cc
  service/storage_service.cc
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

storage_service: hold group 0 apply mutex when reading topology snapshot
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

raft topology: publish new CDC generation to the user description tables
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

db: system_keyspace: introduce `query_mutations` with range/slice
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

storage_service: use CDC generations introduced by Raft topology
  cdc/generation.cc
  cdc/generation_service.hh
  service/storage_service.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @asias

cdc: generation_service: add a FIXME
  cdc/generation.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas

storage_service: include current CDC generation data in topology snapshots
  idl/storage_service.idl.hh
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

cdc: generation_service: add legacy_ prefix for gossiper-based functions
  cdc/generation.cc
  cdc/generation_service.hh
  service/storage_service.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @asias

service: raft_group0_client: introduce `hold_read_apply_mutex`
  service/raft/group0_state_machine.cc
  service/raft/raft_group0_client.cc
  service/raft/raft_group0_client.hh
Owners: none

docs: cdc: describe generation changes using group 0 topology coordinator
  docs/dev/cdc.md
Owners: none
