Repository kbr-scylla/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @kbr-, @piodul, @jul-stas, @eliransin, @gleb-cloudius, @raphaelsc, @nyh, @cvybhu, @annastuchlik, @tzach, @havaker, @nuivall, @asias, @syuu1228, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @cvybhu @nyh

# COUNTERS
counters* @jul-stas
tests/counter_test* @jul-stas

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh @havaker @nuivall

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @cvybhu @piodul
cql3/statements/*view* @nyh @cvybhu @piodul
test/boost/view_* @nyh @cvybhu @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
index/* @nyh @cvybhu @piodul
cql3/statements/*index* @nyh @cvybhu @piodul
test/boost/*index* @nyh @cvybhu @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @havaker @nuivall
test/alternator/* @nyh @havaker @nuivall

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @nyh @syuu1228
test/redis/* @nyh @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cql-pytest/* @nyh

# RAFT
raft/* @kbr- @gleb-cloudius @kostja
test/raft/* @kbr- @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

db: system_keyspace: call `initialize_virtual_tables` from `main`
  db/system_keyspace.cc
  main.cc
  test/lib/cql_test_env.cc
Owners: none

replica: database: write a comment for `parse_system_tables`
  replica/database.hh
Owners: none

cql3: query_processor: make `get_migration_manager` private
  cql3/query_processor.cc
  cql3/query_processor.hh
Owners: @tgrabiec, @cvybhu, @nyh

cql3: query_processor: move `migration_manager&`, `forwarder&`, `group0_client&` to a `remote` object
  cql3/query_processor.cc
  cql3/query_processor.hh
Owners: @tgrabiec, @cvybhu, @nyh

db: system_keyspace: take simpler service references in `make`
  db/system_keyspace.cc
  db/system_keyspace.hh
  main.cc
  replica/distributed_loader.cc
  replica/distributed_loader.hh
  test/lib/cql_test_env.cc
Owners: none

db: system_keyspace: refactor virtual tables creation
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

main, cql_test_env: start `query_processor` early
  main.cc
  test/lib/cql_test_env.cc
Owners: none

replica: database: remove `is_bootstrap` argument from create_keyspace
  db/system_keyspace.cc
  replica/database.cc
  replica/database.hh
Owners: none

db: system_keyspace: don't take `sharded<>` references
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

db: system_keyspace: remove `system_keyspace_make`
  db/system_keyspace.cc
  replica/database.hh
Owners: none

main: move messaging_service init after system_keyspace init
  main.cc
Owners: none

messaging_service: don't use parameter defaults in constructor
  message/messaging_service.hh
  test/manual/gossip.cc
  test/manual/message.cc
Owners: none

messaging_service: store the node's host ID
  main.cc
  message/messaging_service.cc
  message/messaging_service.hh
  test/lib/cql_test_env.cc
  test/manual/gossip.cc
  test/manual/message.cc
Owners: none

messaging_service: exchange host IDs and map them to connections
  message/messaging_service.cc
  message/messaging_service.hh
Owners: none

raft topology: `raft_topology_cmd` implicit constructor
  service/storage_service.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

messaging_service: implement host banning
  message/messaging_service.cc
  message/messaging_service.hh
Owners: none

raft topology: introduce `left_token_ring` state
  db/system_keyspace.cc
  service/storage_service.cc
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

test: pylib: increase checking period for `get_alive_endpoints`
  test/pylib/manager_client.py
Owners: none

raft topology: skip `left_token_ring` state during `removenode`
  service/storage_service.cc
Owners: @tgrabiec, @asias

raft topology: prepare decommission path for node banning
  service/storage_service.cc
  service/storage_service.hh
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

test: add node banning test
  test/pylib/manager_client.py
  test/topology_experimental_raft/test_node_isolation.py
Owners: none

raft topology: ban left nodes
  service/storage_service.cc
Owners: @tgrabiec, @asias

test: pylib: ScyllaCluster: server pause/unpause API
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

repro
  service/raft/raft_group_registry.cc
  test/topology_custom/test_change_ip_repro.py
Owners: none

test: boost: mulitshard_combining_reader_as_mutation_source_test: allow redundant range tombstone changes
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
Owners: @tgrabiec

readers: evictable_reader: don't accidentally consume the entire partition
  readers/multishard.cc
  test/boost/mutation_reader_test.cc
Owners: @denesb

reader assertions fix
  test/lib/flat_mutation_reader_assertions.hh
Owners: @tgrabiec

readers: evictable_reader: don't accidentally consume the entire partition
  readers/multishard.cc
  test/boost/mutation_reader_test.cc
Owners: @denesb

test: flat_mutation_reader_assertions: squash `r_t_c`s with the same position
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/lib/flat_mutation_reader_assertions.hh
  test/lib/mutation_source_test.cc
  test/lib/mutation_source_test.hh
Owners: @tgrabiec

readers: evictable_reader: don't accidentally consume the entire partition
  readers/multishard.cc
  test/boost/mutation_reader_test.cc
Owners: @denesb

test.py: make experimental: raft the default for all tests
  test/pylib/scylla_cluster.py
Owners: none

test/boost/database_test: split mutation sub-tests
  test/boost/database_test.cc
  test/lib/mutation_source_test.cc
  test/lib/mutation_source_test.hh
Owners: @tgrabiec

simplify
  test/boost/database_test.cc
  test/lib/mutation_source_test.cc
Owners: @tgrabiec

repro
  db/config.cc
  service/migration_manager.cc
  service/raft/group0_state_machine.cc
  service/raft/raft_group0.cc
  test/pylib/scylla_cluster.py
  test/topology/conftest.py
  test/topology_custom/__init__.py
  test/topology_custom/conftest.py
  test/topology_custom/pytest.ini
  test/topology_custom/suite.yaml
  test/topology_custom/test_snapshot_too_large_mutation_repro.py
Owners: @tgrabiec, @nyh

measure
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

don't calculate schema digest
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

db: schema_tables: Optimize schema merge
  db/schema_tables.cc
  test/boost/schema_change_test.cc
Owners: @tgrabiec, @nyh

test restart after decommission
  test/topology_experimental_raft/test_restart_after_decom.py
Owners: none

easier debugging
  db/commitlog/commitlog.cc
  service/migration_manager.cc
  service/raft/group0_state_machine.cc
  test/pylib/scylla_cluster.py
  test/topology_custom/test_snapshot_too_large_mutation_repro.py
Owners: @elcallio, @eliransin, @tgrabiec, @nyh

enable schema commitlog (reproduces)
  test/pylib/scylla_cluster.py
Owners: none
