Repository kbr-scylla/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @kbr-, @piodul, @jul-stas, @eliransin, @gleb-cloudius, @raphaelsc, @nyh, @cvybhu, @annastuchlik, @tzach, @havaker, @nuivall, @asias, @syuu1228, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @cvybhu @nyh

# COUNTERS
counters* @jul-stas
tests/counter_test* @jul-stas

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh @havaker @nuivall

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @cvybhu @piodul
cql3/statements/*view* @nyh @cvybhu @piodul
test/boost/view_* @nyh @cvybhu @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
index/* @nyh @cvybhu @piodul
cql3/statements/*index* @nyh @cvybhu @piodul
test/boost/*index* @nyh @cvybhu @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @havaker @nuivall
test/alternator/* @nyh @havaker @nuivall

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @nyh @syuu1228
test/redis/* @nyh @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cql-pytest/* @nyh

# RAFT
raft/* @kbr- @gleb-cloudius @kostja
test/raft/* @kbr- @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

cdc: generation_service: don't sleep in maybe_rewrite_streams_descriptions
  cdc/generation.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas

test streams rewrite
  test/topology_custom/test_custom.py
Owners: none

cdc generation service: rename after_join to legacy_after_join
  cdc/generation.cc
  cdc/generation_service.hh
  service/storage_service.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @asias

cdc gen service: after join
  cdc/generation.cc
  cdc/generation_service.hh
  service/storage_service.cc
Owners: @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @asias

topo sm
  topo-sm.svg
Owners: none

transport: refactor CQL metrics
  transport/response.hh
  transport/server.cc
  transport/server.hh
Owners: none

transport: add per-scheduling-group CQL opcode-specific metrics
  main.cc
  transport/controller.cc
  transport/controller.hh
  transport/server.cc
  transport/server.hh
Owners: none

raft topology: make replication_state a topology-global state (TODO doc)
  db/system_keyspace.cc
  docs/dev/topology-over-raft.md
  service/storage_service.cc
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

raft topology: rename replication_state to transition_state (TODO doc)
  db/system_keyspace.cc
  service/storage_service.cc
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

raft topology: switch on transition state first
  service/storage_service.cc
Owners: @tgrabiec, @asias

test: new suite for testing raft-based topology
  test/topology_experimental_raft/__init__.py
  test/topology_experimental_raft/conftest.py
  test/topology_experimental_raft/pytest.ini
  test/topology_experimental_raft/suite.yaml
  test/topology_experimental_raft/test_topology_ops.py
Owners: none

doc: metic updates in 2023.1
  docs/upgrade/upgrade-enterprise/upgrade-guide-from-2022.x-to-2023.1/metric-update-2022.x-to-2023.1.rst
Owners: none

reproducer
  db/schema_tables.cc
  service/migration_manager.cc
  test/topology_custom/test_schema_pull.py
Owners: @tgrabiec, @nyh

release: prepare for 2023.1.0-rc5
  SCYLLA-VERSION-GEN
Owners: none

test tokens convergence
  service/storage_service.cc
  test/pylib/scylla_cluster.py
  test/topology_custom/test_tokens_convergence.py
Owners: @tgrabiec, @asias

test_no_tokens
  service/storage_service.cc
  test/pylib/scylla_cluster.py
  test/topology_custom/test_no_tokens.py
Owners: @tgrabiec, @asias

test: pylib: ScyllaCluster: server pause/unpause API
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

test
  test/topology_custom/test_pause.py
Owners: none

messaging_service: implement host banning
  message/messaging_service.cc
  message/messaging_service.hh
Owners: none

messaging_service: exchange host IDs and map them to connections
  message/messaging_service.cc
  message/messaging_service.hh
Owners: none

messaging_service: store the node's host ID
  db/system_keyspace.cc
  main.cc
  message/messaging_service.cc
  message/messaging_service.hh
  test/lib/cql_test_env.cc
Owners: none

test: pylib: ScyllaCluster: generalize config type for `server_add`
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

test: pylib: ScyllaCluster: server pause/unpause API
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

raft topology: ban left nodes
  service/storage_service.cc
Owners: @tgrabiec, @asias

test: add node banning test
  test/pylib/manager_client.py
  test/topology_experimental_raft/test_node_isolation.py
Owners: none

repro
  service/raft/group0_state_machine.cc
  test/topology_custom/test_agreement_timeout.py
Owners: none

test: pylib: increase checking period for `get_alive_endpoints`
  test/pylib/manager_client.py
Owners: none

raft topology: introduce `left_token_ring` state
  db/system_keyspace.cc
  service/storage_service.cc
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

skip left_token_ring state from removenode
  service/storage_service.cc
Owners: @tgrabiec, @asias

raft topology: prepare decommission path for node banning
  service/storage_service.cc
  service/storage_service.hh
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @tgrabiec, @asias

test: pylib: scylla_cluster: add explicit timeout for graceful server stop
  test/pylib/scylla_cluster.py
Owners: none

hints manager shutdown hang reproducer
  test/topology_custom/test_hints_hang.py
Owners: none

repro
  db/system_distributed_keyspace.cc
  service/migration_manager.cc
  service/migration_manager.hh
  test/topology_custom/test_schema_disagreement.py
Owners: @tgrabiec, @nyh

repro
  auth/roles-metadata.cc
  test/topology_custom/test_shutdown_hang.py
Owners: @elcallio, @vladzcloudius

Revert "service: raft: split off setup_group0_if_exist from setup_group0"
  main.cc
  service/raft/raft_group0.cc
  service/raft/raft_group0.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

repro
  test/topology_experimental_raft/test_topology_ops.py
Owners: none

db: system_keyspace: refactor local system table creation code
  db/system_keyspace.cc
  replica/database.cc
  replica/database.hh
Owners: none

main, cql_test_env: simplify `system_keyspace` initialization
  db/system_keyspace.cc
  db/system_keyspace.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: none

cql3: query_processor: split `remote` initialization step
  cql3/query_processor.cc
  cql3/query_processor.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @cvybhu, @nyh

replica: database: remove redundant `keyspace::get_erm_factory()` getter
  replica/database.cc
  replica/database.hh
Owners: none
