Repository kbr-scylla/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @kbr-, @piodul, @jul-stas, @eliransin, @gleb-cloudius, @raphaelsc, @nyh, @cvybhu, @annastuchlik, @tzach, @havaker, @nuivall, @asias, @syuu1228, @denesb, @kostja

more logs
  db/schema_tables.cc
  replica/database.cc
Owners: @tgrabiec, @nyh

repro
  db/schema_tables.cc
  test/topology/conftest.py
  test/topology_custom/test_snapshot_too_large_mutation_repro.py
Owners: @tgrabiec, @nyh

debug
  gms/gossiper.cc
  gms/gossiper.hh
  test/topology/test_replace_resurrect.py
Owners: @tgrabiec, @asias

debug
  gms/gossiper.cc
  gms/gossiper.hh
  test/topology_custom/test_replace_resurrect.py
Owners: @tgrabiec, @asias

migration_manager: add `std::move` to avoid a copy
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

schema_tables: pass `reload` flag when calling `merge_schema` cross-shard
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

schema_tables: remove default value for `reload` in `merge_schema`
  db/schema_tables.hh
  replica/database.cc
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
Owners: @tgrabiec, @nyh

schema_tables: refactor `scylla_tables(schema_features)`
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

feature_service: add `GROUP0_SCHEMA_VERSIONING` feature
  db/schema_features.hh
  gms/feature_service.cc
  gms/feature_service.hh
Owners: @tgrabiec, @nyh, @asias

system_keyspace: fix outdated comment
  db/system_keyspace.hh
Owners: none

system_keyspace: make `get/set_scylla_local_param` public
  db/system_keyspace.hh
Owners: none

test/pylib: log_browsing: fix type hint
  test/pylib/log_browsing.py
Owners: none

schema_tables: use schema version from group 0 if present
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

test: add test for group 0 schema versioning
  test/topology_custom/suite.yaml
  test/topology_custom/test_group0_schema_versioning.py
Owners: none

migration_manager: add `originated_from_group0` flag to `system.scylla_tables` mutations
  db/schema_tables.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

migration_manager: store `group0_schema_version` in `scylla_local` during schema changes
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

schema_tables: don't delete `version` cell from `scylla_tables` mutations from group 0
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

feature_service: enable `GROUP0_SCHEMA_VERSIONING` in Raft mode
  gms/feature_service.cc
Owners: @tgrabiec, @asias

schema_tables: don't delete `version` cell from `scylla_tables` mutations from group 0
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

test: add test for group 0 schema versioning
  test/topology_custom/suite.yaml
  test/topology_custom/test_group0_schema_versioning.py
Owners: none

migration_manager: store `group0_schema_version` in `scylla_local` during schema changes
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

schema_tables: use schema version from group 0 if present
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

migration_manager: add `originated_from_group0` flag to `system.scylla_tables` mutations
  db/schema_tables.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

feature_service: enable `GROUP0_SCHEMA_VERSIONING` in Raft mode
  gms/feature_service.cc
Owners: @tgrabiec, @asias

test/pylib: log_browsing: fix type hint
  test/pylib/log_browsing.py
Owners: none

logging
  cql3/query_processor.cc
  raft/server.cc
  service/migration_manager.cc
  service/migration_manager.hh
  service/raft/group0_state_machine.cc
  service/raft/raft_group0_client.cc
  service/raft/raft_group0_client.hh
Owners: @tgrabiec, @cvybhu, @nyh, @kbr-, @gleb-cloudius, @kostja

more logging
  raft/server.cc
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @kbr-, @gleb-cloudius, @kostja, @tgrabiec, @nyh

log durations
  cql3/statements/batch_statement.cc
  replica/database.cc
  service/raft/raft_sys_table_storage.cc
Owners: none

configurable system memory pool size
  db/config.cc
  db/config.hh
  main.cc
  replica/database.cc
  replica/database.hh
  test/lib/cql_test_env.cc
Owners: none

log io_fiber duration
  raft/server.cc
Owners: @kbr-, @gleb-cloudius, @kostja

log do_apply_many times
  replica/database.cc
Owners: none

use system memory for raft table
  db/system_keyspace.cc
Owners: none

feature_service: make COMPUTED_COLUMNS feature unconditionally true
  db/schema_tables.cc
  gms/feature_service.cc
  gms/feature_service.hh
  service/migration_manager.cc
Owners: @tgrabiec, @nyh, @asias

schema_tables: turn view schema fixing code into a sanity check
  cql3/statements/select_statement.cc
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  replica/database.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh, @cvybhu, @piodul

view: remove unused `_backing_secondary_index`
  db/view/view.cc
  db/view/view.hh
Owners: @nyh, @cvybhu, @piodul

schema_tables: make comment more precise
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

migration_manager: assume remote returns `canonical_mutation`s in `do_merge_schema_from`
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

migration_manager: assume `canonical_mutation`s support in when sending or receiving `definitions_update`
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

migration_manager: remove unused merge_schema_from overload
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec, @nyh

migration_manager: inline merge_schema_in_background
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec, @nyh

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @cvybhu @nyh

# COUNTERS
counters* @jul-stas
tests/counter_test* @jul-stas

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh @havaker @nuivall

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @cvybhu @piodul
cql3/statements/*view* @nyh @cvybhu @piodul
test/boost/view_* @nyh @cvybhu @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
index/* @nyh @cvybhu @piodul
cql3/statements/*index* @nyh @cvybhu @piodul
test/boost/*index* @nyh @cvybhu @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @havaker @nuivall
test/alternator/* @nyh @havaker @nuivall

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @nyh @syuu1228
test/redis/* @nyh @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cql-pytest/* @nyh

# RAFT
raft/* @kbr- @gleb-cloudius @kostja
test/raft/* @kbr- @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius
