Repository kbr-scylla/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @kbr-, @piodul, @jul-stas, @eliransin, @gleb-cloudius, @raphaelsc, @nyh, @cvybhu, @annastuchlik, @tzach, @havaker, @nuivall, @asias, @syuu1228, @denesb, @kostja

migration_manager: convert `merge_schema_from` to coroutine
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

WIP
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec, @nyh

get_schema_for_read/write abort_source ref
  repair/row_level.cc
  service/migration_manager.cc
  service/migration_manager.hh
  service/storage_proxy.cc
  streaming/stream_session.cc
Owners: @tgrabiec, @asias, @nyh, @gleb-cloudius

WIP
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec, @nyh

add test
  test/topology_custom/test_alter_during_write.py
Owners: none

fixup! WIP
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

change seastar submodule url
  .gitmodules
Owners: none

feature_service: enable `GROUP0_SCHEMA_VERSIONING` in Raft mode
  gms/feature_service.cc
  test/boost/schema_change_test.cc
Owners: @tgrabiec, @asias, @nyh

migration_manager: store `group0_schema_version` in `scylla_local` during schema changes
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

feature_service: add `GROUP0_SCHEMA_VERSIONING` feature
  db/schema_features.hh
  gms/feature_service.cc
  gms/feature_service.hh
Owners: @tgrabiec, @nyh, @asias

schema_tables: don't delete `version` cell from `scylla_tables` mutations from group 0
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

schema_tables: use schema version from group 0 if present
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

system_keyspace: make `get/set_scylla_local_param` public
  db/system_keyspace.hh
Owners: none

migration_manager: add `committed_by_group0` flag to `system.scylla_tables` mutations
  db/schema_tables.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

test: add test for group 0 schema versioning
  test/topology_custom/suite.yaml
  test/topology_custom/test_group0_schema_versioning.py
Owners: none

docs: describe group 0 schema versioning in raft docs
  docs/dev/raft-in-scylla.md
Owners: none

fixup! test: add test for group 0 schema versioning
  test/topology_custom/test_group0_schema_versioning.py
Owners: none

fixes
  service/migration_manager.cc
  test/topology_custom/test_group0_schema_versioning.py
Owners: @tgrabiec, @nyh

fixes
  test/topology_custom/test_group0_schema_versioning.py
Owners: none

test: add test for group 0 schema versioning
  test/topology_custom/suite.yaml
  test/topology_custom/test_group0_schema_versioning.py
Owners: none

schema_tables: don't delete `version` cell from `scylla_tables` mutations from group 0
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

feature_service: enable `GROUP0_SCHEMA_VERSIONING` in Raft mode
  gms/feature_service.cc
  test/boost/schema_change_test.cc
Owners: @tgrabiec, @asias, @nyh

migration_manager: store `group0_schema_version` in `scylla_local` during schema changes
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

docs: describe group 0 schema versioning in raft docs
  docs/dev/raft-in-scylla.md
Owners: none

schema_tables: use schema version from group 0 if present
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

migration_manager: add `committed_by_group0` flag to `system.scylla_tables` mutations
  db/schema_tables.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

increase pool size
  test/topology_custom/suite.yaml
Owners: none

test graceful shutdown
  test/topology_custom/test_graceful_shutdown.py
Owners: none

stop gracefully lock
  test/pylib/scylla_cluster.py
Owners: none

test ignore errors known from dtest
  test/topology_custom/test_graceful_shutdown.py
Owners: none

don't forward select aggregates to local tables
  cql3/statements/select_statement.cc
Owners: none

abort add_entry in topo coord
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: separate logger for raft topology
  service/storage_service.cc
  test/topology/test_automatic_cleanup.py
  test/topology/test_coordinator_queue_management.py
  test/topology/test_topology_failure_recovery.py
  test/topology_custom/test_remove_alive_node.py
  test/topology_custom/test_topology_failure_recovery.py
  test/topology_custom/test_topology_smp.py
  test/topology_experimental_raft/test_cdc_generation_clearing.py
  test/topology_experimental_raft/test_tablets.py
Owners: @tgrabiec, @asias

raft topology: don't include null ID in exclude_nodes
  service/storage_service.cc
Owners: @tgrabiec, @asias

test/pylib: scylla_cluster: enable raft_topology=debug level by default
  test/pylib/scylla_cluster.py
Owners: none

raft topology: INFO log when executing global commands and updating topology state
  service/storage_service.cc
Owners: @tgrabiec, @asias

raft topology: increase level of some TRACE messages
  service/storage_service.cc
Owners: @tgrabiec, @asias

raft topology: log when entering transition states
  service/storage_service.cc
Owners: @tgrabiec, @asias

raft: fsm: extract `has_output()`
  raft/fsm.cc
  raft/fsm.hh
Owners: @kbr-, @gleb-cloudius, @kostja

raft: fsm: move trace message from `poll_output` to `has_output`
  raft/fsm.cc
Owners: @kbr-, @gleb-cloudius, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @cvybhu @nyh

# COUNTERS
counters* @jul-stas
tests/counter_test* @jul-stas

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh @havaker @nuivall

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @cvybhu @piodul
cql3/statements/*view* @nyh @cvybhu @piodul
test/boost/view_* @nyh @cvybhu @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
index/* @nyh @cvybhu @piodul
cql3/statements/*index* @nyh @cvybhu @piodul
test/boost/*index* @nyh @cvybhu @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @havaker @nuivall
test/alternator/* @nyh @havaker @nuivall

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @nyh @syuu1228
test/redis/* @nyh @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cql-pytest/* @nyh

# RAFT
raft/* @kbr- @gleb-cloudius @kostja
test/raft/* @kbr- @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius
