Repository kbr-scylla/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @kbr-, @piodul, @jul-stas, @eliransin, @gleb-cloudius, @raphaelsc, @nyh, @cvybhu, @annastuchlik, @tzach, @havaker, @nuivall, @asias, @syuu1228, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @cvybhu @nyh

# COUNTERS
counters* @jul-stas
tests/counter_test* @jul-stas

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh @havaker @nuivall

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @cvybhu @piodul
cql3/statements/*view* @nyh @cvybhu @piodul
test/boost/view_* @nyh @cvybhu @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
index/* @nyh @cvybhu @piodul
cql3/statements/*index* @nyh @cvybhu @piodul
test/boost/*index* @nyh @cvybhu @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @havaker @nuivall
test/alternator/* @nyh @havaker @nuivall

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @nyh @syuu1228
test/redis/* @nyh @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cql-pytest/* @nyh

# RAFT
raft/* @kbr- @gleb-cloudius @kostja
test/raft/* @kbr- @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

coroutinize
  cql3/statements/create_keyspace_statement.cc
Owners: none

test + sleep
  cql3/statements/create_keyspace_statement.cc
  test/topology_custom/test_double_execution.py
Owners: none

logging
  mutation/mutation.cc
  test/boost/mutation_test.cc
Owners: @tgrabiec

sleeps etc.
  db/view/view.cc
  db/view/view_update_generator.cc
  replica/table.cc
Owners: @nyh, @cvybhu, @piodul

test: writes to MV table during decommission
  test/topology_custom/test_mv_decommission.py
Owners: none

repro
  db/view/view.cc
  service/storage_proxy.cc
  test/topology_custom/test_mv_tablets_empty_ip.py
Owners: @nyh, @cvybhu, @piodul, @gleb-cloudius

repro (nonfrozen)
  service/migration_manager.cc
  test/topology_custom/test_udt_race.py
Owners: @tgrabiec, @nyh

test.py ipv6
  test/pylib/host_registry.py
  test/pylib/rest_client.py
  test/pylib/scylla_cluster.py
Owners: none

raft: Add descriptions for requested abort errors
  raft/fsm.hh
  raft/raft.hh
  raft/server.cc
  service/raft/group0_state_machine.cc
Owners: @kbr-, @gleb-cloudius, @kostja

straight from chatgpt
  git_push_new_version.py
Owners: none

better
  git_push_new_version.py
Owners: none

author
  git_push_new_version.py
Owners: none
