Repository kbr-scylla/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @kbr-, @piodul, @jul-stas, @eliransin, @gleb-cloudius, @raphaelsc, @nyh, @cvybhu, @annastuchlik, @tzach, @havaker, @nuivall, @asias, @syuu1228, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @cvybhu @nyh

# COUNTERS
counters* @jul-stas
tests/counter_test* @jul-stas

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh @havaker @nuivall

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @cvybhu @piodul
cql3/statements/*view* @nyh @cvybhu @piodul
test/boost/view_* @nyh @cvybhu @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
index/* @nyh @cvybhu @piodul
cql3/statements/*index* @nyh @cvybhu @piodul
test/boost/*index* @nyh @cvybhu @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @havaker @nuivall
test/alternator/* @nyh @havaker @nuivall

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @nyh @syuu1228
test/redis/* @nyh @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cql-pytest/* @nyh

# RAFT
raft/* @kbr- @gleb-cloudius @kostja
test/raft/* @kbr- @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

raft: pass `max_trailing_entries` through `fsm_output` to `store_snapshot_descriptor`
  raft/fsm.cc
  raft/fsm.hh
  raft/server.cc
Owners: @kbr-, @gleb-cloudius, @kostja

raft: server: pass `*_aborted` to `set_exception` call
  raft/server.cc
Owners: @kbr-, @gleb-cloudius, @kostja

raft: fsm: remove constructor used only in tests
  raft/fsm.cc
  raft/fsm.hh
  test/raft/etcd_test.cc
  test/raft/fsm_test.cc
  test/raft/helpers.hh
Owners: @kbr-, @gleb-cloudius, @kostja

raft: server: inline poll_fsm_output
  raft/server.cc
Owners: @kbr-, @gleb-cloudius, @kostja

raft: move `poll_output()` from `fsm` to `server`
  raft/fsm.cc
  raft/fsm.hh
  raft/server.cc
  test/boost/group0_cmd_merge_test.cc
Owners: @kbr-, @gleb-cloudius, @kostja

raft: server: move `io_fiber`'s processing of `batch` to separate function
  raft/server.cc
Owners: @kbr-, @gleb-cloudius, @kostja

raft: remove `empty()` from `fsm_output`
  raft/fsm.hh
  test/raft/helpers.cc
Owners: @kbr-, @gleb-cloudius, @kostja

api: add HTTP endpoint to trigger Raft snapshots
  api/api-doc/raft.json
  api/api.cc
  api/api_init.hh
  api/raft.cc
  api/raft.hh
  configure.py
  main.cc
Owners: none

test: add test for manual triggering of Raft snapshots
  test/topology_custom/test_raft_snapshot_request.py
Owners: none

raft: server: fix indentation
  raft/server.cc
Owners: @kbr-, @gleb-cloudius, @kostja

raft: server: add `trigger_snapshot` API
  raft/server.cc
  raft/server.hh
Owners: @kbr-, @gleb-cloudius, @kostja

raft: move `_sm_events` from `fsm` to `server`
  raft/fsm.cc
  raft/fsm.hh
  raft/server.cc
  test/raft/helpers.hh
Owners: @kbr-, @gleb-cloudius, @kostja

raft: server: framework for handling API requests
  raft/server.cc
Owners: @kbr-, @gleb-cloudius, @kostja

raft: server: add `trigger_snapshot` API
  raft/server.cc
  raft/server.hh
Owners: @kbr-, @gleb-cloudius, @kostja

raft: remove `empty()` from `fsm_output`
  raft/fsm.hh
  test/raft/helpers.cc
Owners: @kbr-, @gleb-cloudius, @kostja

api: add HTTP endpoint to trigger Raft snapshots
  api/api-doc/raft.json
  api/api.cc
  api/api_init.hh
  api/raft.cc
  api/raft.hh
  configure.py
  main.cc
Owners: none

test: add test for manual triggering of Raft snapshots
  test/topology_custom/test_raft_snapshot_request.py
Owners: none

raft: server: add `trigger_snapshot` API
  raft/server.cc
  raft/server.hh
Owners: @kbr-, @gleb-cloudius, @kostja

test: add test for manual triggering of Raft snapshots
  test/topology_custom/test_raft_snapshot_request.py
Owners: none

raft_group0: trigger snapshot if existing snapshot index is 0
  service/raft/raft_group0.cc
Owners: none

raft: remove `empty()` from `fsm_output`
  raft/fsm.hh
  test/raft/helpers.cc
Owners: @kbr-, @gleb-cloudius, @kostja

test: add test for fixing a broken group 0 snapshot
  service/raft/raft_sys_table_storage.cc
  test/topology_custom/test_raft_fix_broken_snapshot.py
Owners: none

api: add HTTP endpoint to trigger Raft snapshots
  api/api-doc/raft.json
  api/api.cc
  api/api_init.hh
  api/raft.cc
  api/raft.hh
  configure.py
  main.cc
Owners: none

Merge branch 'auto-snapshot' into HEAD
  api/api-doc/raft.json
  api/api.cc
  api/api_init.hh
  api/raft.cc
  api/raft.hh
  configure.py
  main.cc
  raft/fsm.cc
  raft/fsm.hh
  raft/server.cc
  raft/server.hh
  service/raft/raft_group0.cc
  service/raft/raft_sys_table_storage.cc
  test/raft/etcd_test.cc
  test/raft/fsm_test.cc
  test/raft/helpers.cc
  test/raft/helpers.hh
  test/topology_custom/test_raft_snapshot_request.py
Owners: @kbr-, @gleb-cloudius, @kostja

repro
  test/pylib/scylla_cluster.py
  test/topology_custom/suite.yaml
  test/topology_custom/test_concurrent_tasks.py
Owners: none

repro
  test/cql-pytest/conftest.py
  test/cql-pytest/pytest.ini
  test/cql-pytest/suite.yaml
  test/cql-pytest/util.py
Owners: @nyh

single shard
  test/pylib/scylla_cluster.py
Owners: none

logging
  repair/repair.cc
Owners: @tgrabiec, @asias, @nyh

sync_schema logging
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

table check logging
  repair/table_check.cc
Owners: @tgrabiec, @asias, @nyh

recovery majority loss 5 srvs
  test/topology_experimental_raft/test_topology_recovery_majority_loss.py
Owners: none

insert_repair_meta debug
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

repair meta reader permit timeout
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

debug
  test/pylib/scylla_cluster.py
  test/topology_custom/test_removenode_hang.py
Owners: none

debug
  repair/row_level.cc
  test/pylib/scylla_cluster.py
  test/topology_custom/suite.yaml
  test/topology_custom/test_removenode_hang.py
Owners: @tgrabiec, @asias, @nyh

more logging
  gms/gossiper.cc
Owners: @tgrabiec, @asias

tactical sleep
  gms/gossiper.cc
Owners: @tgrabiec, @asias

test
  test/topology_custom/test_gossip_boot.py
Owners: none

test: Kill coordinator during topology operation
  service/topology_coordinator.cc
  test/topology/util.py
  test/topology_experimental_raft/suite.yaml
  test/topology_experimental_raft/test_crash_coordinator_before_streaming.py
Owners: none

topology_coordinator: clear obsolete generations earlier
  service/topology_coordinator.cc
  test/topology_experimental_raft/test_cdc_generation_clearing.py
Owners: none
